
       img{
           margin-top:30px;
       }



	ul#items{		
		margin:0;
		height:200px;
		width:auto;
		overflow:hidden;
		}
	ul#items li{
		list-style:none;
		float:left;
		width:auto;
		height:auto;
		overflow:hidden;
		margin:0 0 0 1px;
		color:#fff;
		text-align:center;
		}
	ol#pagination{overflow:hidden;}
	ol#pagination li{
		float:left;
		list-style:none;
		cursor:pointer;
		margin:0 0 0 .5em;
		}
	ol#pagination li.current{color:#f00;font-weight:bold;}