{% extends '::base.html.twig' %}


{% block body %}

<ul>
    <li><a href="theme/ajout">Ajouter un thème</a></li>
    <li><a href="theme/supression">Supprimer un thème</a></li>
    <li><a href="theme/update">Modifier un thème</a></li>
    <li><a href="theme/all">Tous les thèmes</a></li>
</ul>
        
{% endblock %}
