
{% extends '::base.html.twig' %}


{% block body %}

<ul>
    <li><a href="quizz/ajout">Ajouter un quizz</a></li>
    <li><a href="quizz/state">Activé ou désactiver un quizz</a></li>
    <li><a href="quizz/update">Modifier un quizz</a></li>
    <li><a href="quizz/suppression">Supprimer un quizz</a></li>
    <li><a href="quizz/choixdetailquizz">Détail d'un quizz</a></li>
    <li><a href="quizz/choixtheme">Choisir un thème</a></li>
    <li><a href="quizz/ispromoted">Mettre en avant un quizz</a></li>
</ul>
        
<div style="margin-top:700px;"></div>

{% endblock %}
